@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 99wh;
    background-color: #000;
}
a {
    text-decoration: none;
}
.titulo {
    display: flex;
    position: absolute;
    font-size: 3.5em;
    color: white;
    top: 5vh;
    left: 10vh;
    text-transform: capitalize;
}
.todos {
    display: flex;
    position: absolute;
    font-size: 2em;
    color: white;
    top: 25vh;
    left: 10vh;
    text-transform: capitalize;
}
.abrigos {
    position: absolute;
    text-transform: capitalize;
    display: flex;
    font-size: 2em;
    color: white;
    top: 32vh;
    left: 10vh;
}
.camisetas {
    position: absolute;
    text-transform: capitalize;
    font-size: 2em;
    display: flex;
    color: white;
    top: 38vh;
    left: 10vh;
}
.pantalones {
    display: flex;
    position: absolute;
    text-transform: capitalize;
    font-size: 2em;
    color: white;
    top: 44vh;
    left: 10vh;
}
.carritos {
    position: absolute;
    font-size: 2.5em;
    color: white;
    top: 65vh;
    left: 10vh;
    text-transform: capitalize;
}
.derechos {
    display: flex;
    position: absolute;
    font-size: 2.5em;
    color: white;
    top: 80vh;
    left: 10vh;
    text-transform: capitalize;
}
.pagina2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    border: #0d18022a 0.8vh solid;
    background-color: white;
    border-radius: 2vh;
    top: 5vh;
    left: 53vh;
    width: 70%;
    height: 90%;
    padding: 6vh 2vh;
    overflow: auto;
}
.titulo2 {
    position: absolute;
    font-size: 2.5em;
    color: #000;
    top: 4vh;
    left: 2vh;
}
.cuadros {
    position: relative;
    margin: 0vh 0vh 8vh;
    border: gray 0.1vh solid;
    background-color: #000;
    font-size: 1.5em;
    text-align: center;
    border-radius: 3vh;
    width: 29vh;
    height: 28vh;
    margin-top: 6vh;
}
.imagenes {
    margin: 1vh;
    position: relative;
    border-radius: 3vh;
    width: 20vh;
    height: 20vh;
}
.cuadrito {
    border: gray 0.5vh solid;
    border-radius: 2vh;
    position: relative;
    left: -0.6vh;
    width: 30vh;
    height: 17vh;
    background-color: white;
}
.cuadrito p{
    margin-top: 7px;
}
.textoA {
    position: absolute;
    padding: 1vh;
    background-color: var(--color-primario);
    color: white;
    top: 10vh;
    left: 18vh;
    justify-content: center;
    text-align: center;
    border: gray 0.4vh solid;
}