@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--color-primario);
    width: 100%;
    height: 490vh;
}
    
.header{
    /*background: red;*/
    position: fixed;
}
.header_container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
.header_food{
    display: flex;
    margin: 1.5%;
    margin-left: 7%;
    color: var(--color-secundario);
    font-size: 1.5em;
    font-family:fantasy;
}
.header_items{
    display: flex;
    font-size: 1.5em;
    color: var(--color-terciario);
    margin-right: 30%;
}
.header_items ul{
    list-style: none;
    margin: 1.5%;
    display: flex;
    margin-left: 15%;
}
.header_items a{
    float: left;
    padding: 10%;
    font-size: 1.2em;
    text-transform: capitalize;
    color: var(--color-terciario);
    text-decoration: none;
    font-family: monospace;
}
.header_items li:hover{
    background: var(--color-secundario);
    transition: 0.5s;
}
.main_titulo{
    /*background: green;*/
    margin-top: 50px;
}
.titulo{
    display: flex;
    margin-left: 15%;
    flex-direction: column;
    margin-top: 1%;
    width: 1000px;
}
.titulo h2{
    /*background: green;*/
    font-size: 7em;
    margin-top: 25%;
    color: var(--color-secundario);
    padding-bottom: 10px;
    text-transform: capitalize;
    font-family:monospace;
}
.titulo p{
    display: flex;
    color: var(--color-terciario);
    font-size: 2em;
    text-transform: capitalize;
    font-family: monospace;
}
.titulo button{
    background: var(--color-secundario);
    color: var(--color-terciario);
    width: 150px;
    height: 40px;
    margin-top: 50px;
    border: none;
    font-size: 1.3em;
    font-family: monospace;
}
.titulo img{
    display: flex;
    margin-left: 70%;
    margin-top: -40%;
    width: 55%;
    height: auto;
}
.about{
    /*background: red;*/
    width: 1800px;
    height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}
.about img{
    /*background: gray;*/
    margin-right: 42%;
    position: relative; 
    margin-top: 10%;
    max-width: 100%;

}
.about h3{
    /*background: green;*/
    color: var(--color-secundario);
    display: flex;
    font-size: 1.5em;
    margin-top: -25% ;
    margin-left: 2.5%;
    text-transform: capitalize;
    font-family: monospace;
}
.about p{
    /*background: violet;*/
    display: flex;
    color: var(--color-terciario);
    font-size: 3.5em;
    margin-left: 22.5%;
    margin-top: 5px;
    font-family: monospace;
}
.about small{
    display: flex;
    color: var(--color-terciario);
    font-size: 1.5em;
    margin-left: 21%;
    margin-top: 15px;
    font-family: monospace;

}
.about button{
    background: var(--color-secundario);
    color: var(--color-terciario);
    width: 150px;
    height: 40px;
    margin-top: 50px;
    border: none;
    font-size: 1.3em; 
    margin-left: 5%;
    margin-top: 20px;
    font-family: monospace;
}
.food{
    margin-top: 8%;
    display: flex;
    width: auto;
    height: 65vh;
    align-items: center;
    flex-direction: column;
}
.food h4{
    color: var(--color-secundario);
    display: flex;
    font-size: 1.5em;
    margin-top: 5px;
    text-transform: capitalize;
    font-family: monospace;
}
.food p{
    display: flex;
    color: var(--color-terciario);
    font-size: 3em;
    margin-top: 15px;
    font-family: monospace;
} 
.food i{
    font-size: 3.5em;
    display: flex;
    margin-left: 88%;
    background: var(--color-secundario);
}

.food_1{
    background: var(--color-quinto);
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 60%;
    margin-top: 80px;
}
.food_1 p{
    color: var(--color-cuarto);
    font-size: 2em;
    margin-top: -15px;
    font-family: monospace;
}
.food_1 small{
    color: var(--color-secundario);
    font-size: 1.3em;
    margin-top: 5px;
    font-family: monospace;
}
#description{
    margin-top: -2px;
    font-size: 1.5em;
    font-family: monospace;
}
.food_2{
    background: var(--color-quinto);
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -445px;
}
.food_2 p{
    color: var(--color-cuarto);
    font-size: 2em;
    margin-top: -20px;
    font-family: monospace;
}
.food_2 img{
    width: fit-content;
    height: fit-content;
    margin-top: -5px;
}
#description_2{
    font-size: 1.5em;
    margin-top: 5px;
    font-family: monospace;
}
.food_2 small{
    font-size: 1.3em;
    margin: 4px;
    color: var(--color-secundario);
    font-family: monospace;
}
.food_3{
    background: var(--color-quinto);
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 60%;
    margin-top: -445px;
}
.food_3 img{
    width: 50%;
    margin-top: 15px;
}
.food_3 p{
    font-size: 1.7em;
    color: var(--color-cuarto);
    font-family: monospace;
}
#description_3{
    font-size: 1.5em;
    margin-top: 5px;
    font-family: monospace;
}
.food_3 small{
    font-size: 1.3em;
    margin: 4px;
    color: var(--color-secundario);
    font-family: monospace;
}
.service{
    /* background: red; */
    display: flex;
    margin-top: 18%;
    align-items: center;
    flex-direction: column;
}
.service h5{
    display: flex;
    font-size: 2em;
    color: var(--color-secundario);
    text-transform: capitalize;
    font-family: monospace;
}
.service p{
    color: var(--color-terciario);
    margin-top: 15px;
    font-size: 3em;
    font-family: monospace;
}
.imagenes{
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}
.img_1{
    width: 25%;
    height: 45vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: violet; */
}
.img_1 img{
    width: 50%;
    display: flex;
    align-items: center;
}
.img_1 p{
    font-size: 2em;
    display: flex;
    color: var(--color-secundario);
    margin-top: 15px;
    font-family: monospace;
}
.img_1 small{
    font-size: 2em;
    display: flex;
    color: var(--color-terciario);
    margin-top: 15px;
    font-family: monospace;
}
.img_2{
    /* background: red; */
    width: 25%;
    height: 45vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img_2 img{
    width: 50%;
    display: flex;
    align-items: center;
}
.img_2 p{
    font-size: 2em;
    display: flex;
    color: var(--color-secundario);
    margin-top: 15px;
    font-family: monospace;
}
.img_2 small{
    font-size: 2em;
    display: flex;
    color: var(--color-terciario);
    margin-top: 15px;
    font-family: monospace;
}
.img_3{
    /* background: blue; */
    width: 25%;
    height: 45vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img_3 img{
    width: 50%;
    display: flex;
    align-items: center;
}
.img_3 p{
    font-size: 2em;
    display: flex;
    color: var(--color-secundario);
    margin-top: 15px;
    font-family: monospace;
}
.img_3 small{
    font-size: 2em;
    display: flex;
    color: var(--color-terciario);
    margin-top: 15px;
    font-family: monospace;
}
.quality{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
}
.quality_section{
    background: var(--color-quinto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 45vh;
    padding-top: 5vh;
    padding-bottom: 8vh;
    text-align: center;
}
.quality_2{
    text-align: center;
}
.quality p{
    font-size: 4em;
    font-family: monospace;
}
.quality button{
    background: var(--color-secundario);
    color: var(--color-terciario);
    width: 10em;
    height: 3em;
    outline: none;
    border: none;
    font-size: 1.3em;
    margin-top: auto;
    margin-top: 20px;
    font-family: monospace;
}
.information{
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
}
.information p{
    font-size: 2.3em;
    color: var(--color-terciario);
    font-family: monospace;
}
.information ul{
    list-style: none;
    font-size: 1.5em;
    color: var(--color-terciario);
    margin-top: 15px;
    font-family: monospace;
}
.information a{
    font-size: 1em;
    text-transform: capitalize;
    color: var(--color-terciario);
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15%;
}
.iconos li{
    background: var(--color-secundario);
    border-radius: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}
.bottom{
    margin-right: 80%;
    border-bottom: 2px solid var(--color-secondary);    
}

@media (width < 900px){
*{
    font-size: 11px;
}
}
.body{
    font-size: 15px;
}