@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 99wh;
    background-color: #000;
}
a {
    text-decoration: none;
}
.titulo {
    display: flex;
    position: absolute;
    font-size: 3vi;
    color: rgb(255, 255, 255);
    top: 2vi;
    left: 4vi;
    text-transform: capitalize;
}
.todos {
    display: flex;
    position: absolute;
    font-size: 2vi;
    color: rgb(255, 255, 255);
    top: 12vi;
    left: 8vi;
    text-transform: capitalize;
}
.abrigos {
    position: absolute;
    text-transform: capitalize;
    display: flex;
    font-size: 2vi;
    color: rgb(255, 255, 255);
    top: 16vi;
    left: 9vi;
}
.camisetas {
    position: absolute;
    text-transform: capitalize;
    font-size: 2vi;
    display: flex;
    color: rgb(255, 255, 255);
    top: 20vi;
    left: 9vi;
}
.pantalones {
    display: flex;
    position: absolute;
    text-transform: capitalize;
    font-size: 2vi;
    color: rgb(255, 255, 255);
    top: 24vi;
    left: 9vi;
}
.carritos {
    position: absolute;
    font-size: 2vi;
    color: rgb(255, 255, 255);
    top: 34vi;
    left: 9vi;
    text-transform: capitalize;
}
.derechos {
    display: flex;
    position: absolute;
    font-size: 2vi;
    color: rgb(255, 255, 255);
    top: 42vi;
    left: 7vi;
    text-transform: capitalize;
}
.pagina2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    border: #0d18022a 0.3vi solid;
    background-color: white;
    border-radius: 1vi;
    top: 2vi;
    left: 27vi;
    width: 70%;
    height: 90%;
    padding: 6vi 2vi;
    overflow: auto;
}
.titulo2 {
    position: absolute;
    font-size: 2.5em;
    color: #000;
    top: 6vh;
    left: 4vh;
}
.cuadros {
    position: relative;
    margin: 0vh 0vh 8vh;
    border: rgb(0, 38, 128) 0.1vh solid;
    background-color: #000;
    font-size: 1.5em;
    text-align: center;
    border-radius: 3vh;
    width: 29vh;
    height: 28vh;
    margin-top: 5vh;
}
.imagenes {
    margin: 1vh;
    position: relative;
    border-radius: 3vh;
    width: 20vh;
    height: 20vh;
}
.cuadrito {
    border: #4a4cab 0.5vh solid;
    border-radius: 1vi;
    position: relative;
    left: -0.6vh;
    width: 30vh;
    height: 17vh;
    background-color: rgb(255, 255, 255);
}
.cuadrito p{
    margin-top: 7px;
}
.textoA {
    position: absolute;
    padding: 1vh;
    background-color: var(--color-primario);
    color: white;
    top: 10vh;
    left: 18vh;
    justify-content: center;
    text-align: center;
    border: gray 0.4vh solid;
}