<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>camisetas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="paginatotal">
        <a href="#" class="titulo">CampusShop</a>
        <a href="/views/index.html" class="todos">todos los productos</a>
        <a href="/views/abrigos.html" class="abrigos">abrigos</a>
        <a href="/views/camisetas.html" class="camisetas">camisetas</a>
        <a href="/views/pantalones.html" class="pantalones">pantalones</a>
        <a href="/views/carrito.html" class="carritos">carrito</a>
        <a href="#" class="derechos">&copy 2023 camper</a>
        <div class="pagina2">
            <h1 class="titulo2">camisetas</h1>
            <div class="cuadros">
                <img class="imagenes" src="https://http2.mlstatic.com/D_NQ_NP_2X_906094-MCO53976036500_022023-F.webp" alt=""> 
                <div class="cuadrito">
                    <p>Camiseta En Licra Uv Slim.</p>
                    <small>38.000</small>
                    <a href="#" class="textoA">agregar</a>
                </div>  
            </div>
            <div class="cuadros">
                <img class="imagenes" src="https://http2.mlstatic.com/D_NQ_NP_2X_649847-MCO43854241255_102020-F.webp" alt="ropa">
                <div class="cuadrito">
                    <p>Camiseta Tipo Polo  Dama.</p>
                    <p>$26.255</p>
                    <a href="#" class="textoA">agregar</a>
                </div>
            </div>
            <div class="cuadros">
                <img class="imagenes" src="https://http2.mlstatic.com/D_NQ_NP_2X_995623-MCO70722158553_072023-F.webp" alt="ropa">
                <div class="cuadrito">
                    <p>Camiseta Deportiva, Crossfit</p>
                    <p>$29.900</p>
                    <a href="#" class="textoA">agregar</a>
                </div>
            </div>
            <div class="cuadros">
                <img class="imagenes" src="https://http2.mlstatic.com/D_NQ_NP_2X_776916-MCO72088562654_102023-F.webp" alt="ropa">
                <div class="cuadrito">
                    <p>Camisetas Bandas De Rock Metal Heavy Riffs.</p>
                    <p>$32.850</p>
                    <a href="#" class="textoA">agregar</a>
                </div>
            </div>
            <div class="cuadros">
                <img class="imagenes" src="https://http2.mlstatic.com/D_NQ_NP_2X_968038-MCO53410409233_012023-F.webp" alt="ropa">
                <div class="cuadrito">
                    <p>Camiseta Anime </p>
                    <p>$29.900</p>
                    <a href="#" class="textoA">agregar</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>