<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carritovacio</title>
    <link rel="stylesheet" href="/css/carritovacio.css">
</head>
<body>
    <div class="paginatotal">
        <a href="index.html" class="titulo">CampusShop</a>
        <a href="index.html" class="todos">Todos los productos</a>
        <a href="abrigos.html" class="abrigos">Abrigos</a>
        <a href="camisas.html" class="camisetas">Camisetas</a>
        <a href="pantalones.html" class="pantalones">Pantalones</a>
        <a href="carrito.html" class="carritos">Carrito</a>
        <a href="" class="derechos">&copy 2023 Camper </a>

        <div class="pagina2">
            <h1 class="titulo2">carrito</h1>
            <div class="cuadros">
                <div class="cuadrito">
                    <p>tu carrito esta vacio :(</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>