<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrito</title>
    <link rel="stylesheet" href="/css/carrito.css">
</head>
<body>
    <div class="paginatotal">
        <a href="index.html" class="titulo">CampusShop</a>
        <a href="index.html" class="todos">Todos los productos</a>
        <a href="abrigos.html" class="abrigos">Abrigos</a>
        <a href="camisas.html" class="camisetas">Camisetas</a>
        <a href="pantalones.html" class="pantalones">Pantalones</a>
        <a href="carrito.html" class="carritos">Carrito</a>
        <a href="" class="derechos">&copy 2023 Camper </a>

        <div class="pagina2">
            <h1 class="titulo2">carrito</h1>
            <div class="cuadros">
                <div class="cuadrito">
                    <img class="imagenes" src="https://http2.mlstatic.com/D_NQ_NP_2X_731406-MCO42646277112_072020-F.webp" alt="">
                    <p>Pantalon En Dril Licrado Para Hombre</p>
                    <p>cantidad <br>2</p>
                    <p>precio <br>$58.900</p>
                    <p>subtotal <br>$117.800</p>
                </div>
            </div>
            <div class="cuadros">
                <div class="cuadrito">
                    <img class="imagenes" src="https://http2.mlstatic.com/D_NQ_NP_2X_995623-MCO70722158553_072023-F.webp" alt="">
                    <p>Camiseta Deportiva, Crossfit</p>
                    <p>cantidad <br>1</p>
                    <p>precio <br>$29.900</p>
                    <p>subtotal <br>$29.900</p>
                </div>
            </div>
            <div class="cuadros">
                <div class="cuadrito">
                    <img class="imagenes" src="https://http2.mlstatic.com/D_NQ_NP_2X_904140-MCO51843801912_102022-F.webp" alt="">
                    <p>Chaqueta  Para Dama 'Negro'</p>
                    <p>cantidad <br>2</p>
                    <p>precio <br>$93.900</p>
                    <p>subtotal <br>187.900</p>
                </div>
            </div>
            <a href="/views/carritovacio.html" class="textoB">vaciar carrito</a>
            <div class="comprar">
                <p class="t">total <br>335.600</p>
                <a href="#" class="textoC">comprar ahora</a>
            </div>
        </div>
    </div>
</body>
</html>