<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusShop</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section>
        <article>
            <div>
                <a href="#">CampusShop</a>
                <a href="#">todos los productos</a>
                <a href="#">abrigos</a>
                <a href="#">Camisas</a>
                <a href="#">pantalones</a>
                <a href="#">carritos</a>
            </div>
            <div class="shop">
                <h1>todos los productos</h1>
                <div class="abrigo1">
                    <img id="abrigo" src="/storage/img/abrigo1.jpg" alt="">
                </div>
                
                <div class="cuadro">                
                    <p>abrigo azul</p>
                    <small>$90.000</small>
                    <button>agregar</button>
                </div>
            

            </div>
        </article>
    </section>
</body>
</html>