<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pantalones</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="paginatotal">
        <a href="#" class="titulo">CampusShop</a>
        <a href="/views/index.html" class="todos">todos los productos</a>
        <a href="/views/abrigos.html" class="abrigos">abrigos</a>
        <a href="/views/camisetas.html" class="camisetas">camisetas</a>
        <a href="/views/pantalones.html" class="pantalones">pantalones</a>
        <a href="/views/carrito.html" class="carritos">carrito</a>
        <a href="#" class="derechos">&copy 2023 camper</a>

        <div class="pagina2">
            <h1 class="titulo2">pantalones</h1>
            <div class="cuadros">
                <img class="imagenes" src="https://http2.mlstatic.com/D_NQ_NP_2X_731406-MCO42646277112_072020-F.webp" alt="">
                <div class="cuadrito">
                    <p>Pantalon En Dril Licrado Para Hombre.</p>
                    <small>58.900</small>
                    <a href="#" class="textoA">agregar</a>
                </div>
            </div>
            <div class="cuadros">
                <img class="imagenes" src="https://http2.mlstatic.com/D_NQ_NP_2X_795748-MCO70527773883_072023-F.webp" alt="ropa">
                <div class="cuadrito">
                    <p>Pantalón Camuflado</p>
                    <p>$104.405</p>
                    <a href="#" class="textoA">agregar</a>
                </div>
            </div>
            <div class="cuadros">
                <img class="imagenes" src="/storage/img/D_NQ_NP_2X_758206-MCO70501309390_072023-F.webp" alt="ropa">
                <div class="cuadrito">
                    <p>Pantalón Jogger Cargo, Táctico, Militar.</p>
                    <p>$104.405</p>
                    <a href="#" class="textoA">agregar</a>
                </div>
            </div>
            <div class="cuadros">
                <img class="imagenes" src="/storage/img/pantalon2.webp" alt="ropa">
                <div class="cuadrito">
                    <p>Pantalón Jeans De Colores Entubado Para Hombre.</p>
                    <p>$61.750</p>
                    <a href="#" class="textoA">agregar</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>